* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-soft: #212C4A;
  --blue: #0179FD;
  --white: #F4F4F4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background: var(--dark-soft);
} 

#portada {
  background-image: url('../img/portada.png');
  background-size: cover;
  background-position: center;
  color: var(--white);
  padding: 20px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}